/* Import the Chakra Petch font */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@200..900&display=swap');

/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch', sans-serif;
  height: 100%; /* Full height */
}

/* App Component Styles */
.App {
  text-align: center;
}

/* Header Style */
.App-header {
  background-color: #fbfafa; /* White background */
  color: #f9f7f7; /* Black text */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* Adjusting the position of "Jaafar Safar" to make room for "Made by" */
.app-header .name-tag {
  position: absolute ;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: #ff0000; /* Red color for the name */
}

/* Form and Button Styles */
.form-label, .form-control {
  color: #faf8f8; /* Black text */
}

button, .btn {
  background-color: #000000; /* Black background for buttons */
  color: #f8f4f4; /* White text */
}

button:hover, .btn:hover {
  background-color: #f2eeee; /* Darker shade of black on hover */
}

/* Image Styles */
#myImage {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Loading Spinner Styles */
#backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Additional styles as needed... */
